:root{
  --MainColor: #faebd7;
  --TargetColor: None
}
  #diva {
    width: auto;
    margin-left: 110%;
    position: fixed;
    z-index: 10;
    background-color: #faebd7;
    border: 2px solid black;
    padding: 5px;
  }
  #header{
    display: flex;
    background-color: azure;
    height: 22px;
    margin: auto;
    padding: 10px;
  }
  ::placeholder{
    color: brown;
  }
  body{
    background-color: rgb(241, 240, 255);
  }

  #login{
    justify-content: right;
  }

  button{
    background-color: rgb(243, 239, 235);
    border-radius: 10px;
    margin-left: 2px;
    margin-right: 2px;
    
  }
  #socorro{
    background-color: var(--MainColor);
  }
  .entra{
    animation: entrar 2s ease-in-out forwards;
  }
  .sair{
    animation: sair 2s ease-in-out forwards;
  }
  .forwards{
    
    animation: changefont 2s ease-in forwards;
  }
  .backwards{
    animation-direction: reverse;
    animation: changefont 2s ease-in forwards;
  }
  .ColorChange{
    animation: change 2s ease-in-out forwards;
  }
  
  @keyframes change{
    from{background-color: var(--MainColor);}
    to{background-color: var(--TargetColor);}
  }
  @keyframes changefont{
    from{color : black}
    to{ color: white}
  }
  @keyframes girar{
    from{transform: rotate(45deg);}
    
    to{transform: rotate(405deg);}
  }
  @keyframes sair{
    from{margin-left: 5%;}
    to{margin-left: 110%;}
  }
  
  @keyframes entrar {
    from{margin-left: 110%;}
    to{margin-left: 5%;}
  }
  
  